.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.OuterSquare{
  margin-top: 5vh;
  outline:2px solid black;
  min-height: 25px;
  height: 85vh;
  width: 25vw;
  margin-left: calc(75vw/2);
}
.Purple{
  background-color: purple !important;
 }
.Green{
  background-color: limegreen !important;
}

.Yellow{
   background-color: yellow !important;
 }
.Cyan{
  background-color: Cyan !important;
}
.Orange{
  background-color: orange !important;
}
.Blue{
  background-color: blue !important;
}
.Red{
  background-color: red !important;
}

.InternalSquare{
  outline:2px solid black;
  min-height: 100%;
  background-color: grey;
  display: inline-block;
  width: 10%;
}
.RowPanel{
  width: 100%;
  height: calc(100%/20);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
